# Analisis Energias Renovables

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly_express as px
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [5]:
df=pd.read_csv('res/energy-data.csv')
print(df.shape)
df.sample(5)

(21812, 129)

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
3987,Central & South America (EIA),2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3468,Burundi,1973,BDI,3.571455e+06,3.260401e+09,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16014,Philippines,1941,PHL,1.480171e+07,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7685,Gabon,1949,GAB,4.677940e+05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21358,World,1954,NaN,2.691979e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df[df['country']=='Spain']

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
18074,Spain,1900,ESP,18592411.0,4.961561e+10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18075,Spain,1901,ESP,18701066.0,5.376502e+10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18076,Spain,1902,ESP,18818864.0,5.140597e+10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18077,Spain,1903,ESP,18945905.0,5.124805e+10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18078,Spain,1904,ESP,19073803.0,5.061735e+10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18193,Spain,2019,ESP,47131372.0,1.647043e+12,-1.701,-0.434,532.368,25.091,118.180,...,5.582,2.514,4.309,5.284,139.941,1180.742,55.65,2969.176,20.571,8.835
18194,Spain,2020,ESP,47363808.0,1.460508e+12,-9.566,-2.400,479.078,22.691,129.635,...,7.966,3.814,6.319,8.296,148.237,1191.627,56.44,3129.761,21.752,10.418
18195,Spain,2021,ESP,47486932.0,1.541122e+12,-1.722,-0.391,469.609,22.300,146.145,...,10.009,4.634,9.952,14.156,162.394,1306.886,62.06,3419.753,22.922,10.612
18196,Spain,2022,ESP,47558632.0,1.625140e+12,-2.410,-0.537,457.599,21.763,142.981,...,12.478,5.854,1.165,1.293,163.686,1301.551,61.90,3441.780,21.623,10.288
18197,Spain,2023,ESP,47519628.0,NaN,-8.258,-1.797,420.156,19.966,123.317,...,16.712,7.737,2.299,3.155,166.841,1349.548,64.13,3510.999,23.774,10.607